%h1 Listing professions

%table
  %thead
    %tr
      %th Name
      %th Profession type
      %th
      %th
      %th

  %tbody
    - @professions.each do |profession|
      %tr
        %td= profession.name
        %td= profession.profession_type_title
        %td= link_to 'Show', profession
        %td= link_to 'Edit', edit_profession_path(profession)
        %td= link_to 'Destroy', profession, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Profession', new_profession_path
